.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex-grow: 1;
    padding-top: 60px;
    padding-bottom: 30px;
}

.page-template .site-content {
    padding-block: 0;
}

.site-main{
    margin: 0px 20%;
}

@media (max-width: 767px) {
    .site-content {
        padding-bottom: 0;
    }
}

.gh-footer{
    margin-top: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin-bottom: 15vh;
}

