.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 30px;
    @apply min-h-screen;
}

body{
    background-color: var(--background-color);
}

.page-template .site-content {
    padding-block: 0;
}

.site-main{
    @apply mx-auto w-[90vw] sm:w-[80vw] md:w-[65vw] lg:w-[65vw] mx-auto;
}

@media (max-width: 767px) {
    .site-content {
        padding-bottom: 0;
    }
}

.gh-footer{
    @apply my-[30vh] w-[70vw] p-10 mx-auto;
    background-color: var(--primary-theme);
    @apply grid grid-cols-1 gap-10 md:grid-cols-2 md:gap-8 ;
    background-image: "{{asset 'images/footer-tile.jpg }}";
}

.gh-foot-menu .nav li + li::before {
    content: none !important;
}

.gh-foot-menu .nav{
    display: block !important;
    align-items: baseline;
}

.about-icon-name{
    
    @apply md:grid md:grid-cols-2 md:gap-8 py-10 ;
}