.topic-feed {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 60px;
}

.topic-feed-home {
    @apply grid grid-cols-1 md:grid-cols-[4fr_2fr] gap-20;
}

.topic-header {
    padding-bottom: 12px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-bottom: 1px solid var(--mid-gray-color);
}

.page-header{
    padding-bottom: 12px;
    margin-top: 20px;
}

.topic-name {
    letter-spacing: -0.005em;
}

.has-serif-title .topic-name {
    font-family: var(--font-serif);
}

.topic-count {
    margin-left: 15px;
    color: var(--secondary-text-color);
}

.topic-article-feed {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.topic-article{
}
.topic-article-grid{
    margin-top: 30px;
    @apply md:grid md:grid-cols-3 md:gap-4;
    gap: 60px;
}

.organisations{

}
.topic-article-title {
    margin-bottom: 0;
    @apply text-3xl;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    word-break: break-word;
}

.topic-article {
    @apply py-2;
}

.topic-article-link svg {
    width: 16px;
    height: 16px;
    margin: 3px 5px 0 -5px;
}

.topic-more {
    display: inline-block;
    margin-top: 20px;
    font-weight: 500;
    color: var(--primary-color);
    letter-spacing: -0.005em;
}

@media (max-width: 767px) {
    .topic-feed {
        grid-template-columns: 1fr;
    }
}
