@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

body{
    font-family: "New Tegomin", serif !important;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: "New Tegomin", serif !important;
    font-weight: 400;
    font-style: normal;
}

.gh-head-logo{
    font-family: "New Tegomin", serif !important;
    font-weight: 400;
    font-style: normal;
}